
@{
    ViewBag.Title = "DataLock";
    ViewBag.PageID = "datalock-details";
}

<!--PAGE 1-->
@*
    *@


<!--Page 3-->

<!--Page 4 Flash Alert Green Box-->
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="green-box-alert">
            <p class="strong">Status changed</p>
        </div>
     </div>
</div>