
@{
    ViewBag.Title = "Create Cohort";
}

<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">Choose an employer</h1>
        <p>Choose an employer you want to create a new cohort on behalf of.</p>
        <p>7 results found.</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Employer</th>
                <th scope="col">Account name</th>
                <th scope="col">Agreement ID</th>
                <th scope="col"><span class="vh">Action</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Joo Bloggs Finace</td>
                <td>JOE BLOGGS</td>
                <td>QXDVNK</td>
                <td class="link-right"><a href="">Select <span class="vh">Joe Bloggs Finance</span></a></td>
            </tr>
            <tr>
                <td>Joe's Trading Company</td>
                <td>JOE'S TRADING</td>
                <td>ABCDES</td>
                <td class="link-right"><a href="">Select <span class="vh">Joe's Trading Company</span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
