@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.UploadApprenticeshipsViewModel

@{
    ViewBag.Title = "Upload apprenticeships unsuccessful";
    ViewBag.PageId = "upload-error";
}

<h1 class="heading-xlarge">Upload apprenticeships unsuccessful</h1>


<ul>
    
    @foreach (var error in Model.Errors)
    {
        <li>
            @error.ToString()
        </li>
    }

</ul>








@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">

            <li><a href="@Url.Action("UploadApprenticeships", "BulkUpload")" aria-label="Back" class="back-link">Back</a></li>

        </ol>
    </div>
}