// custom to overwrite the GDS defaults
.hr-double {
    border-bottom: 4px solid $grey-2;
    margin-bottom: 20px;
}
.hr-top {
    margin-bottom: 20px;
}
.hr-bottom {
    margin-top: 22px;
}
// add apprentice entry
#add-apprentice-entry,
#edit-apprentice {
    hr {
        margin-top: 0;
        margin-bottom: 22px;
    }
}
.button.text-link {
    background-color: transparent;
    border: medium none;
    box-shadow: none;
    color: #005ea5;
    text-decoration: underline;
}
.alert-default {
    background-color: #eaf4f9;
    border-color: #2b8cc4;
}

.field-validation-error{
    display:block;
}

#finish-editing{
    .heading-xlarge{
         margin-top: 0.625em;
    }

}


//bulk upload styles

#apprentice-details{
    .bulk-upload-buttons{      
        .upload-btn{
              @include media(tablet) {
                margin:auto;
                }
            margin-top:20px;
            margin-bottom:20px;
        }
    }
  
}

#finish-editing {
    .error-summary{
         margin-bottom: 60px;
         margin-top:0;
    }
}

.cant-approve{ 
    
    .panel{
	    border-color:$error-colour;
	    color:$error-colour;
        
        p{
            font-weight:bold;
            font-size:19px;
        }

        }
 }
 
#upload-apprenticeships,
#upload-error{
      .upload-file-btn{
        display:block;
        margin-top:35px;      
    }
}

.form-group {
    #StartDate_Month,
    #EndDate_Month{
        width:40px;
    }
    
    #StartDate_Year,
    #EndDate_Year{
        width:60px;
    }
    
}


.breadcrumbs{
    a{
        font-size:16px;
    }
}

// bulk upload error screen

.error-grid{
    .alert-default{
        background-color:#ecc3c7;
        border-color:$red;
    }
}

.warning-grid{
    .alert-default{
        background-color:#fcddcd;
        border-color:#f47738;
    }
}