@mixin closed-arrow ($borCol: black) {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-width: 7px 4px;
    border-color: transparent;
    border-bottom-color: $borCol;
    border-style: solid;
    right: 12px;
    top: 50%;
    margin-top: -10px;
}

@mixin open-arrow ($borCol: black) {
    border-top-color: $borCol;
    border-bottom-color: transparent;
    margin-top: -3px;
}
