.panel {
    p {
        font-size: 14px;
        @include media(tablet) {
            font-size: 16px;    
        }      
    }

    @include media(tablet) {
        .heading-medium {
            margin-bottom: 10px;
        }
    }
}

.panel-filled {
    background: $panel-colour;
}



.inset-text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    border-left: 10px solid #b1b4b6;
    @include media(tablet) {
        font-size: 19px;
        line-height: 1.3157894737;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    & > p {
        margin: 0;
    }
}