@{
    ViewBag.Title = "Thank you for taking part";
    ViewBag.PageId = "home-page";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Thank you for taking part</h1>
        <p>Thank you for agreeing to take part in our research. Your feedback will help to shape the future of the Digital Apprenticeship Service.</p>
        <p> To continue you’ll need to <a href="https://pplogon.fasst.org.uk" aria-label="create an account">create an account</a> for research purposes – please do not use your existing account details.</p>
        <div class="form-group">
            <a href="/signin" class="button" title="Sign in" aria-label="Sign in">Sign in</a>
        </div>
    </div>
</div>
