@using SFA.DAS.ProviderApprenticeshipsService.Web.Models

@model HomeIndexModel

@{
    ViewBag.Title = "Home Page";
}

<div class="grid-row">
    <div class="column-two-thirds">


        <h1 class="heading-xlarge">Hackney skills and training</h1>
        <hr />
       
                            
        <div class="grid-row">
            <div class="column-one-half">
                <h2><a href="@Url.Action("Index", "Commitment", new { providerId = Model.ProviderId })">Contracts</a></h2>
                <p><a href="#">View and sign your contracts</a> with the SFA online</p>
            </div>

            <div class="column-one-half">
                <h2><a href="@Url.Action("Index", "Commitment", new { providerId = Model.ProviderId })">Apprentices</a></h2>
                <p>View, update and agree employer requests, or update existing apprentice details.</p>
            </div>
        </div>         
    </div> <!-- column-two-thirds-->
</div>

    
