@{
    ViewBag.Title = "Add and update apprentice records as a training provider";
    ViewBag.PageId = "home-page";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Add and update apprentice records as a training provider</h1>
        
        <p>This service is for training providers that are registered with the Apprenticeship Service to:</p>
        <ul class="list list-bullet">
            <li>respond to apprentice training requests from employers</li>
            <li>add and update details of apprentices they’re training</li>
        </ul>
        <div class="form-group">
            <a href="/signin" class="button button-start" title="Start now" aria-label="Start now">Start now</a>
        </div>
        <h2 class="heading-medium">Before you start</h2>
        <p>You need to have an account with the government’s Information Management Services system to use this.</p>
        <p>You’ll get your account details when you register as an apprenticeship training provider.</p>
        <h3 class="heading-medium">Help</h3>
        <p>You can contact the Apprenticeship Service for advice or help using the service.</p>
        <h4 class="heading-small">Apprenticeship Service</h4>
        <p>Telephone: 0800 015 0600  <a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges</a></p>

</div>
</div>
