@{
    ViewBag.Title = "Apprentice service for training providers";
    ViewBag.PageId = "home-page";
    ViewBag.HideNavBar = true;
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Apprenticeship service for training providers: sign in or register for an account</h1>
        <p>
            <div class="panel panel-border-wide">
                <p>To access this service, you must be approved as a main provider or employer provider on the <a href="https://www.gov.uk/guidance/register-of-apprenticeship-training-providers">register of apprenticeship training providers</a>.</p>
            </div>
        </p>
        <p>Use this service to:</p>
        <ul class="list list-bullet">
            <li>add and manage apprentices you’re training</li>
            <li>reserve apprenticeship funding for non-levy employers</li>
            <li>invite employers to create an apprenticeship service account</li>
            <li>create and manage vacancies to recruit apprentices on behalf of employers</li>
            <li>view and respond to employer requests for training</li>
        </ul>
        
        <div class="form-group">
            <a href="/account" class="button button-start" title="Start now" aria-label="Start now">Start now</a>
        </div>
    </div>
</div>