@using SFA.DAS.ProviderApprenticeshipsService.Web.Models

@model HomeIndexModel

@{
    ViewBag.Title = "Home Page";
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Provider commitments</h1>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <p>Use this service to:</p>
        <ul class="list list-bullet">
            <li>view new commitments</li>
            <li>manage open commitments</li>
            <li>agree to commitments</li>
        </ul>
        <a class="button button-start" id="view_commitments" href="@Url.Action("Index","Commitment", new {providerId = Model.ProviderId})">View commitments</a>
    </div>
</div>
    
