@{
    ViewBag.Title = "Add an apprentice";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Thank you for taking part</h1>
        

        Thank you for agreeing to take part in our research. Your feedback will help to shape the future of the Digital Apprenticeship Service.

        To continue you’ll need to <a href="#" aria-label="register a new account">register a new account</a> for research purposes – please do not use your existing IDAMs login details.

      


            <div class="form-group">
                <a href="/signin" class="button" title="Sign in" aria-label="Continue to login">Continue to login</a>
              
            </div>
        </form>




    </div>

    <div class="column-one-third side-panel">
        @*<aside>
            <div class="panel panel-filled">
                <h2 class="heading-medium">Help us improve this section</h2>
                <p>Take a 3 minute survey about adding apprentices so that we can improve the service.</p>
                <a href="https://www.surveymonkey.co.uk/r/accessmylevysurvey" target="_blank" class="button" title="Take the survey" aria-label="Take the survey">Take the survey</a>
            </div>
        </aside>*@
    </div>
</div>
