@{
    ViewBag.Title = "Add and update apprentice records as a training provider";
    ViewBag.PageId = "home-page";
    ViewBag.HideNavBar = true;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Add and update apprentice records as a training provider</h1>
        
        <p>This service is for training providers registered with the apprenticeship service to work with employers to:</p>
        <ul class="list list-bullet">
            <li>add details of the apprentices they're going to train</li>
            <li>manage details of the apprentices they're currently training</li>
        </ul>
     
        <h2 class="heading-medium">Before you start</h2>
        <p>You need to have an account with the government’s Information Management Services system (IdAMS) to use this.</p>
        <p>If your organisation doesn't already have an IdAMS account, you’ll get your account details when you <a href="https://www.gov.uk/guidance/register-of-apprenticeship-training-providers" target="_blank" rel="external">register as an apprenticeship training provider</a>.</p>
        <p>If your organisation does already have an IdAMS account, an account super user from your organisation will need to give you access to the apprenticeship service.</p>

        <div class="form-group">
            <a href="/signin" class="button button-start" title="Start now" aria-label="Start now">Start now</a>
        </div>


</div>
</div>
