@{
    ViewBag.Title = "Apprentice service for training providers - Apprenticeships";
    ViewBag.PageId = "home-page";
    ViewBag.HideNavBar = true;
}

@if (DateTime.UtcNow < new DateTime(2018,10,22,8,0,0))
{
    <div class="info-summary" tabindex="-1">
        <h3 class="heading-medium">Scheduled maintenance</h3>
        <p>The apprenticeship service will be undergoing scheduled maintenance over the weekend of 20 and 21 October 2018. You may experience some service disruption during this time. We expect the service to be fully operational by 8am on 22 October.</p>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Apprenticeship service for training providers: sign in or register for an account
        </h1>
        <div class="inset-text">
            <p>To access this service, you must be approved as a main provider or employer provider on the <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/guidance/register-of-apprenticeship-training-providers" class="govuk-link">register of apprenticeship training providers</a>.</p>
        </div>

        <p>Use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>add and manage apprentices you’re training</li>
            <li>reserve apprenticeship funding for non-levy employers</li>
            <li>invite employers to create an apprenticeship service account</li>
            <li>create and manage vacancies to recruit apprentices on behalf of employers</li>
            <li>view and respond to employer requests for training</li>
        </ul>
        <p class="gov-body">
            You'll need a DfE Sign-in to use this service. If you don't have a DfESign-in, you can create one at the next step.
        </p>
        <div class="govuk-form-group">
            <a href="/signin" class="govuk-button govuk-button--start" title="Start now" aria-label="Start now">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>
        </div>
    </div>
</div>
