@{
    ViewBag.Title = "Manage apprenticeships on behalf of employers";
    ViewBag.PageId = "home-page";
    ViewBag.HideNavBar = true;
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section breadcrumb {
    <partial name="_BreadCrumbs" />
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Styles {
    <link href="/css/app.css" rel="stylesheet" no-cdn />
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Scripts {
    <script src="/js/site.js" no-cdn></script>
}

@if (DateTime.UtcNow < new DateTime(2018,10,22,8,0,0))
{
    <div class="info-summary" tabindex="-1">
        <h3 class="heading-medium">Scheduled maintenance</h3>
        <p>The apprenticeship service will be undergoing scheduled maintenance over the weekend of 20 and 21 October 2018. You may experience some service disruption during this time. We expect the service to be fully operational by 8am on 22 October.</p>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Manage apprenticeships on behalf of employers</h1>

        <p>This service is for training providers registered with the apprenticeship service to work with employers to:</p>
        <ul class="list list-bullet">
            <li>recruit apprentices</li>
            <li>add details of the apprentices they're going to train</li>
            <li>manage details of the apprentices they're currently training</li>
        </ul>

        <h2 class="govuk-heading-m">Before you start</h2>
        <p>You need to have an account with the government’s Information Management Services system (IdAMS) to use this.</p>
        <p>If your organisation doesn't already have an IdAMS account, you’ll get your account details when you <a href="https://www.gov.uk/guidance/register-of-apprenticeship-training-providers" target="_blank" rel="external">register as an apprenticeship training provider</a>.</p>
        <p>If your organisation does already have an IdAMS account, an account super user from your organisation will need to give you access to the apprenticeship service.</p>

        <div class="govuk-form-group">
            <a href="/signin" class="govuk-button govuk-button--start" title="Start now" aria-label="Start now">Start now</a>
        </div>


    </div>
</div>
