@{
    ViewBag.Title = "Terms and conditions";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Terms and conditions</h1>


        <p>By using this service you agree to these terms and conditions. </p>

        <h2 class="heading-large">Our responsibilities</h2>

        <p>This service is run by the Skills Funding Agency (SFA). We do our best to make sure this service is constantly available, virus free and that the information we provide is accurate and complete.</p>

        <p>However, the SFA accepts no liability for:</p>
        <ul class="list list-bullet">
            <li>
                you being unable to access the service (for example owing to excessive demand or because we’ve taken the service down for maintenance)
                loss of any data
            </li>
            <li>delay or failure in receiving data</li>
            <li>loss or damage arising from the use of the service or reliance on its content</li>
            <li>the content and availability of external websites that link to the service or which are linked from it</li>
        </ul>

        <h2 class="heading-large">Your responsibilities</h2>

        <p>As a provider you must:</p>
        <ul class="list list-bullet">
            <li>
                keep your username and password confidential</li>
            <li> accept responsibility for all activities associated with your account</li>
            <li> ensure that any personal data (as defined under the Data Protection Act 1998) is protected, used only for the purposes for which it was obtained and disposed of appropriately</li>
            <li> agree not to use the service for any illegal purpose</li>

            <li> By using this service you agree that your contracts are signed digitally and are legally binding.</li>

            </ul>





    </div>

   
</div>
