@using SFA.DAS.Provider.Shared.UI;
@using SFA.DAS.Provider.Shared.UI.Extensions

@{
    ViewBag.Title = "Change your DfE Sign-in account details";
    ViewBag.PageID = "change-your-DfESign-in-account-details";
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section breadcrumb {
    <partial name="_BreadCrumbs" />
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Styles {
    <link href="/css/app.css" rel="stylesheet" no-cdn />
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Scripts {
    <script src="/js/site.js" no-cdn></script>
}

<h1 class="govuk-heading-l">Change your DfE Sign-in account details</h1>
<p class="govuk-!-margin-left-3">You use DfE Sign-in to access Apprenticeship service for training providers.</p>
<p class="govuk-!-margin-left-3">You can change these details in your DfE Sign-in account:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
    <li>email address</li>
    <li>password</li>
</ul>
<p><a target="_blank" rel="noopener noreferrer" href="https://profile.signin.education.gov.uk/" class="das-navigation__link">Change your sign-in details for your DfE Sign-in account (opens in new tab)</a>.</p>