@{
    ViewBag.Title = "Can't find account";
    ViewBag.PageId = "account-noaccount";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Provider account</h1>
        <p>[Content placeholder]</p>
        <p>This page is displayed when details cannot be retrieved for the user's associated UKPRN.</p>
    </div>
</div>
