@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.AccountHomeViewModel

@{
    ViewBag.Title = @Model.ProviderName;
    ViewBag.PageId = "account-noagreement";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Provider agreement</h1>
        <p>[Content placeholder]</p>
        <p>This page is displayed when an effective provider agreement cannot be found for the user's associated UKPRN.</p>
    </div>
</div>
