@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.AccountHomeViewModel

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section breadcrumb {
    <partial name="_BreadCrumbs" />
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Styles {
    <link href="/css/app.css" rel="stylesheet" no-cdn />    
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Scripts {
    <script src="/js/site.js" no-cdn></script>
}

@{
    ViewBag.Title = @Model.ProviderName;
    ViewBag.PageId = "account-noagreement";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Provider agreement</h1>
        <p>[Content placeholder]</p>
        <p>This page is displayed when an effective provider agreement cannot be found for the user's associated UKPRN.</p>
    </div>
</div>
