@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.SummaryUnsubscribeViewModel


@{
    ViewBag.Title = "Unsubscribe";
    ViewBag.PageId = "unsubscribe-alets";
}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (Model.AlreadyUnsubscribed)
        {
            <h1 class="govuk-heading-xl">You've already unsubscribed</h1>

            <p>You've already unsubscribed from email notifications.</p>

            <p>You'll continue to receive important service emails, such as password resets.</p>
        }
        else
        {
            <h1 class="govuk-heading-xl">Unsubscribe successful</h1>
            <p>You've unsubscribed from any further email notifications.</p>

            <p>You'll continue to receive important service emails, such as password resets.</p>
        }

        @Html.ActionLink("View notification settings", "NotificationSettings", null, new { @class = "button" })
    </div>
</div>