@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.SummaryUnsubscribeViewModel


@{
    ViewBag.Title = "Unsubscribe";
    ViewBag.PageId = "unsubscribe-alets";
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section breadcrumb {
    <partial name="_BreadCrumbs" />
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Styles {
    <link href="/css/app.css" rel="stylesheet" no-cdn />
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Scripts {
    <script src="/js/site.js" no-cdn></script>
}

<div class="grid-row">
    <div class="column-two-thirds">

        @if (Model.AlreadyUnsubscribed)
        {
            <h1 class="heading-xlarge">You've already unsubscribed</h1>

            <p>You've already unsubscribed from email notifications.</p>

            <p>You'll continue to receive important service emails, such as password resets.</p>
        }
        else
        {
            <h1 class="heading-xlarge">Unsubscribe successful</h1>
            <p>You've unsubscribed from any further email notifications.</p>

            <p>You'll continue to receive important service emails, such as password resets.</p>
        }

        @Html.ActionLink("View notification settings", "NotificationSettings", null, new { @class = "button" })
    </div>
</div>