@using SFA.DAS.ProviderApprenticeshipsService.Web.Models
@using SFA.DAS.ProviderApprenticeshipsService.Web.Models.Types
@model dynamic

@{ var model = Model as ViewModelBase; }

@if (model?.FlashMessage != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="green-box-alert">
                @if (model.FlashMessage.Severity == FlashMessageSeverityLevel.Okay)
                {
                    <i class="icon-green-tick"></i>
                }
                @Html.Raw(model.FlashMessage.Message)
            </div>
         </div>
    </div>
}
