@using SFA.DAS.ProviderApprenticeshipsService.Web.Models
@using SFA.DAS.ProviderApprenticeshipsService.Web.Models.Types
@model dynamic

@{ var model = Model as ViewModelBase; }

@if (model?.FlashMessage != null)
{
    <div class="panel panel-border-wide alert-default flash-alert">
        @if (model.FlashMessage.Severity == FlashMessageSeverityLevel.Okay)
        {
            <i class="icon-green-tick"></i>
        }
        @Html.Raw(model.FlashMessage.Message)
    </div>
}
