@using System.Text
@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.ApprenticeshipFiltersViewModel

<strong>Status</strong>
<br />

@RenderFilterOptions("Status", Model.ApprenticeshipStatusOptions, Model.Status)
<br /><br />


<strong>Alerts</strong>
<br />

@RenderFilterOptions("RecordStatus", Model.RecordStatusOptions, Model.RecordStatus)


<br /><br />
<strong>Training Courses</strong>
<br />

@RenderFilterOptions("Course", Model.TrainingCourseOptions, Model.Course)


<br /><br />
<strong>Organisation</strong>
<br />

@RenderFilterOptions("Employer", Model.EmployerOrganisationOptions, Model.Employer)



@functions
{
    private static HtmlString RenderFilterOptions(string groupName, List<KeyValuePair<string, string>> options, List<string> selected)
    {
        var result = new StringBuilder();

        foreach (var option in options)
        {
            var checkedAtt = selected != null && selected.Contains(option.Key) ? "checked=\"checked\"" : "";

            result.Append("<label for= \"{groupName}\">");

            result.Append($"<input name=\"{groupName}\" value =\"{option.Key}\" id =\"{groupName}-{option.Key}\" type = \"checkbox\" {checkedAtt} aria-controls=\"js-search-results-info\">");
            result.Append(option.Value);
            result.Append("</label>");
            result.Append("<br/>");
        }

        return new HtmlString(result.ToString());
    }
}
