@{
    ViewBag.Title = "Access denied - Error 403";
    ViewBag.PageId = "error-403";
    ViewBag.HideNavBar = true;
}

<main id="content" role="main" class="error-403">
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="hgroup">
                <h1 class="heading-xlarge">
                    You do not have permission to access this page
                </h1>
            </div>

            <div class="inner">
                <p>
                    If you think you should have permission to access this page or want to confirm what permissions you have, contact an account owner.
                </p>
                <p>
                    <a href="@Url.Action("Index", "Account")" target="_blank"> Go back to home page </a>
                </p>
            </div>
        </div>
    </div>
</main>