@{
    ViewBag.Title = "You do not have permission to access this page";
    ViewBag.PageId = "error-403";
    ViewBag.HideNavBar = true;
}



<main id="content" role="main" class="error-403 govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="hgroup">
                <h1 class="govuk-heading-xl">
                    You do not have permission to access this page
                </h1>
            </div>

            <div class="inner">
                <p>
                    If you think you should have permission to access this page or want to confirm what permissions you have, contact an IdAMS super user.
                </p>
                <p>
                    <a href="@Url.Action("Index", "Account")"> Go back to home page </a>
                </p>
            </div>
        </div>
    </div>
</main>