@{
    ViewBag.Title = "You do not have permission to access this page";
    ViewBag.PageId = "error-403";
    ViewBag.HideNavBar = true;
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section breadcrumb {
    <partial name="_BreadCrumbs" />
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Styles {
    <link href="/css/app.css" rel="stylesheet" no-cdn />
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Scripts {
    <script src="/js/site.js" no-cdn></script>
}

<main id="content" role="main" class="error-403 govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="hgroup">
                <h1 class="govuk-heading-xl">
                    You do not have permission to access this page
                </h1>
            </div>

            <div class="inner">
                <p>
                    If you think you should have permission to access this page or want to confirm what permissions you have, contact an IdAMS super user.
                </p>
                <p>
                    <a href="@Url.Action("Index", "Account")"> Go back to home page </a>
                </p>
            </div>
        </div>
    </div>
</main>