@{
    ViewBag.Title = "Access denied - Error 403";
    ViewBag.PageId = "error-403";
}

<main id="content" role="main" class="error-403">
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="hgroup">
                <h1 class="heading-xlarge">
                    Access denied
                </h1>
            </div>

            <div class="inner">
                <p>
                    You don’t have permission to access the Apprenticeship Service.
                </p>
                <p>
                    If you want to access the service, you’ll need to contact your organisation’s Information Management Services system (Idams) super user.
                </p>
                <h2 class="heading-medium">Help</h2>
                <p>
                    You can contact the Apprenticeship Service for advice or help on how to use the service.
                </p>
                <h3 class="heading-small">Apprenticeship Service</h3>
                <p>
                    Telephone: 0800 015 0600   <a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges</a>

                </p>
            </div>
        </div>
    </div>
</main>