@{
    ViewBag.Title = "Invalid state";
    ViewBag.PageId = "invalid-state";
    ViewBag.HideNavBar = true;
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section breadcrumb {
        <partial name="_BreadCrumbs" />
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Styles {
        <link href="/css/app.css" rel="stylesheet" no-cdn />    
}

@* ReSharper disable once Razor.SectionNotResolved - in shared provider layout *@
@section Scripts {
        <script src="/js/site.js" no-cdn></script>
}

<main id="content" role="main" class="error-404">
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="hgroup">
                <h1 class="heading-xlarge">
                    Page not available
                </h1>
            </div>

            <div class="inner">
                <p>
                    This page is no longer available - any changes you've made up to this point have been saved.
                    <br/><br/>
                    <a href="@Url.Action("Index", "Home")">Return to the homepage</a>.
                </p>
            </div>
        </div>
    </div>
</main>