<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="FeatureToggle.BulkUploadV2" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />
	</appSettings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="true" xdt:Transform="RemoveAttributes(internalLogLevel,internalLogFile)">
		<extensions xdt:Transform="Insert">
			<add assembly="SFA.DAS.NLog.Targets.Redis" />
		</extensions>
		<targets>
			<target type="Redis" name="RedisLog" appName="${appName}" environmentKeyName="EnvironmentName" connectionStringName="LoggingRedisConnectionString" includeAllProperties="true" layout="${message}" xdt:Transform="Insert" />
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="RedisLog" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		</rules>
	</nlog>
</configuration>
