@using SFA.DAS.ProviderUrlHelper
@{
    ViewBag.Title = "Check your record";
    ViewBag.PageId = "home-page";
    ViewBag.HideNavBar = true;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Check your record</h1>
        <p>You will be able to check and edit these sections in your provider account:</p>
        <ul class="list list-bullet">
            <li>your organisation’s details</li>
            <li>the apprenticeship standards you deliver</li>
            <li>the locations where you do the training</li>
        </ul>
        <p>This information will be shared with Find apprenticeship training.</p>
        <h3 class="heading-medium">Before you start, </h3><p>you must review these sections to make sure the information we have pre-filled for you is correct.</p>
        <div class="form-group">
            <a href="/" class="button button-start" title="Start now" aria-label="Start now">Start now</a>
            <a href="@Url.Action("Index", "Account")">I'll do this later</a>
        </div>
        <br />
        <p>You no longer need to do this in the course directory.</p>
    </div>
</div>
