@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.AcknowledgementViewModel

@{
    ViewBag.Title = "Instructions sent";
    ViewBag.PageId = "cohorts-landing-page";
}


<div class="grid-row">  
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">Your cohorts</h1>
       
        
            <div class="column-one-half bingo-background block-one">
                <h2 class="bold-xxlarge">10</h2>
                <p class="heading-small">New from employer</p>
            </div>

            <div class="column-one-half bingo-background block-two">
                <h2 class="bold-xxlarge">7</h2>
                <p class="heading-small">Ready for approval</p>
            </div>
    

    <div class="column-one-half bingo-background block-three">
        <h2 class="bold-xxlarge">2</h2>
        <p class="heading-small">Ready for review</p>
    </div>

    <div class="column-one-half bingo-background block-four">
        <h2 class="bold-xxlarge">1</h2>
        <p class="heading-small">With employers</p>
    </div>

 </div>

 <div class="column-one-third">  </div>   
    


</div>



@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "Home")" aria-label="Back to Account home" class="back-link">Back</a>
    </div>
}
