@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.AcknowledgementViewModel

@{
    ViewBag.Title = "Instructions sent";
    ViewBag.PageId = "instructions-sent-end";
}


<div class="grid-row">  
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">Your cohort requests</h1>

    <div class="column-one-half">
        <h2 class="heading-xlarge">10</h2>
      <p>New from employer</p>
    </div>

    <div class="column-one-half">
        <h2 class="heading-xlarge">5</h2>
        <p>Ready for approval</p>
    </div>

    <div class="column-one-half">
        <h2 class="heading-xlarge">2</h2>
        <p>Ready for review</p>
    </div>

    <div class="column-one-half">
        <h2 class="heading-xlarge">1</h2>
        <p>With employers</p>
    </div>





    </div>
</div>



@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "Home")" aria-label="Back to Account home" class="back-link">Back</a>
    </div>
}
