@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.AcknowledgementViewModel

@{
    ViewBag.Title = "Instructions sent";
    ViewBag.PageId = "instructions-sent-end";
}


<div class="grid-row">  
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">Your cohort requests</h1>

    <div class="column-one-half">
        lorem ipsum
    </div>

    <div class="column-one-half">
            lorem ipsum
    </div>

    <div class="column-one-half">
            lorem ipsum
    </div>

    <div class="column-one-half">
            lorem ipsum
    </div>





    </div>
</div>



@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "Home")" aria-label="Back to Account home" class="back-link">Back</a>
    </div>
}
