
<div class="grid-row" id="confirm-delete">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Confirm deletion</h1>

        <h2 class="heading-large">David Jenkisn</h2>
        <p class="secondary-text heading-small">10 May 1999</p>


        <h2 class="heading-medium">Are you sure you want to delete the record for David Jenkins?</h2>
        <form>
            <div class="form-group">
                <fieldset>
                    <legend class="visually-hidden">Are you sure you want to delete the record for David Jenkins?</legend>

                    <label class="block-label selection-button-radio" for="radio-1">
                        <input id="radio-1" type="radio" name="radio-group" value="Yes delete">
                        Yes, delete the record
                    </label>
                    <label class="block-label selection-button-radio" for="radio-2">
                        <input id="radio-2" type="radio" name="radio-group" value="Do not delete">
                        No, don't delete
                    </label>
                </fieldset>     
            </div>
            <button type="submit" class="button">Continue</button>
        </form>

    </div>
</div>