@using SFA.DAS.ProviderApprenticeshipsService.Web.Extentions
@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.CommitmentViewModel

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Add apprentices</h1>
    </div>

</div>

<div class="grid-row">
    <div class="column-one-half employer-details">
        <p><span class="strong">Employer: </span>Acme Coventry Ltd ( .net )</p>
        <p><span class="strong">Reference: </span>98HGS3F (.net )</p>
        <p><span class="strong">Status: </span>Needs provider input (.net )</p>
    </div>

    <div class="column-one-half employer-details">
        <p class="strong">Last message / Instructions:</p>
        <p>No note added</p>

    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <p class="heading-medium">3 Apprentices (.net )</p>
        <hr />

       
            <a href="#" class="button" aria-label="Add an apprentice">Add an apprentice</a>
            <a class="button finishEditingBtn" href="@Url.Action("FinishEditing", new { providerId = Model.Commitment.ProviderId })" aria-label="Finished editing">Finish editing</a>
     
        <hr />
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        @if (Model.Commitment.Apprenticeships.Count == 0)
        {
            <div id="addApprenticesEmptyState" class="emptyState">
                <div class="emptyStateAlert">
                    <div class="emptyStateCopyDetails" aria-label="Information">
                        <p>        You haven't added any apprentices yet. Use the options on this page to add apprentices or finish editing.</p>

                    </div>
                </div>
            </div>
        }
        else
        {
            <table class="tableResponsive providerList">
                <thead>
                    <tr>

                        <th scope="col">Name</th>
                        <th scope="col">ULN</th>
                        <th scope="col">Training name</th>
                        <th scope="col">Training dates</th>
                        <th scope="col" colspan="2">Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name .... </td>
                        <td>ULN Number.... </td>
                        <td>Training name ?</td>
                        <td>01-12-2016 to 01-12-2018</td>
                        <td>10000</td>
                        <td><a href="#">Edit</a> </td>

                    </tr>
                    <tr>
                        <td>Name .... </td>
                        <td>ULN Number.... </td>
                        <td>Training name ?</td>
                        <td>01-12-2016 to 01-12-2018</td>
                        <td>10000</td>
                        <td><a href="#">Edit</a> </td>

                    </tr>
                    <tr>
                        <td>Name .... </td>
                        <td>ULN Number.... </td>
                        <td>Training name ?</td>
                        <td>01-12-2016 to 01-12-2018</td>
                        <td>10000</td>
                        <td><a href="#">Edit</a> </td>

                    </tr>
                </tbody>
            </table>


        }
    </div>
</div>
<a href="#">Back</a>

