@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.VerificationViewModel
@{
    ViewBag.Title = "Verification Step 2";
}

<h2>Verification Step 2</h2>
<br />

<p>Provider: @Model.ProviderId.ToString()</p>

<p>CommitmentId: @Model.HashedCommitmentId</p>

