@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.VerificationViewModel
@{
    ViewBag.Title = "Verification";
}

<h2>Verification</h2>
<br/>

<p>Provider: @Model.ProviderId.ToString()</p>

<p>CommitmentId: @Model.HashedCommitmentId</p>

<p>Legal Entity: @Model.LegalEntityName</p>


<a href="@Url.Action("VerificationStep2", new { Model.ProviderId, Model.HashedCommitmentId})">Continue</a>